body {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
}

blockquote a:link {
}

blockquote a:visited {
}

blockquote a:hover {
}

blockquote {
	font-style: italic;
	font-weight: 400;
	font-size: 26px;
	line-height: 37px;
	margin-bottom: 25px;
}

h1 a:link {
}

h1 a:visited {
}

h1 a:hover {
}

h1 {
	font-size: 68px;
	line-height: 75px;
	margin-bottom: 25px;
	font-family: Bevan;
	font-style: normal;
	font-weight: 400;
}

h2 a:link {
}

h2 a:visited {
}

h2 a:hover {
}

h2 {
	font-size: 42px;
	line-height: 50px;
	margin-bottom: 25px;
	font-style: normal;
	font-weight: 400;
	font-family: Bevan;
}

h3 a:link {
}

h3 a:visited {
}

h3 a:hover {
}

h3 {
	font-size: 26px;
	line-height: 50px;
	margin-bottom: 25px;
	font-style: normal;
	font-weight: 400;
	font-family: Bevan;
}

h4 a:link {
}

h4 a:visited {
}

h4 a:hover {
}

h4 {
	margin-bottom: 25px;
	font-weight: 400;
	font-style: normal;
	font-family: Bevan;
}

h5 a:link {
}

h5 a:visited {
}

h5 a:hover {
}

h5 {
	margin-bottom: 25px;
	font-style: normal;
	font-weight: 400;
	font-family: Bevan;
}

h6 a:link {
}

h6 a:visited {
}

h6 a:hover {
}

h6 {
	font-weight: 400;
	font-style: normal;
	margin-bottom: 25px;
	font-family: Bevan;
}

p a:link {
}

p a:visited {
}

p a:hover {
}

p {
	margin-bottom: 25px;
}

p.lead a:link {
}

p.lead a:visited {
}

p.lead a:hover {
}

p.lead {
	font-size: 25px;
	line-height: 1.64em;
}


