@import url(http://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic);
@import url(http://fonts.googleapis.com/css?family=Bevan);


html {
	font-size: 10px;
}


body {
	font-size: 16px;
	font-family: 'Muli', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 1.5em;
}


ul, ol {
	margin-left: 2.5em;
	list-style-position: outside;
}
ul ul, ol ol {
	margin: 0 0 0 2.5em;
}



h1, h2, h3, h4, h5, h6 {
	font-family: 'Bevan', cursive;
	font-weight: normal;
	margin: 2rem 0;
}


h1.big {
	font-size: 58px;
	line-height: 60px;
	padding: 0;
	margin: 1rem 0;	
	overflow: contain;
}

h1 {
	font-size: 48px;
	line-height: 54px;
	padding: 0;
	margin: 1rem 0;
}

h2 {
	font-size: 36px;
	line-height: 42px;
}

h3 {
	font-size: 24px;
	line-height: 1.5;
}


p.big {
	font-size: 24px;
	line-height: 1.7em;
	font-weight: 300;
}


/* blockquote */

blockquote:before {
	content: "“";
	display: block;
	font-size: 50px;
	left: 0px;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 20px;
	opacity: 0.5;
	font-family: 'Bevan', cursive;
	font-style: normal;
}

blockquote:after {
	content: "”";
	display: block;
	font-size: 50px;
	right: 0px;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 20px;
	opacity: 0.5;
	font-family: 'Bevan', cursive;
	font-style: normal;
}


blockquote cite:before {
	content: "— ";
}


blockquote {
	position: relative;
	font-style: italic;
	font-weight: 300;
	line-height: 1.6em;
	font-size: 18px; /* 1.4 x 14 = 19px */
	text-indent: 0px;
	margin: 3rem 0;
	padding: 0 60px;
}


blockquote cite {
	opacity: 0.5;
	display: block;
	font-size: 0.8em;
	margin-top: 1rem;
	text-align: right;
}

/* loop styles */

time { font-style:italic;}
.more-link {display:block;}
.more-link:after {content:' →';}

/* custom styles */


.logo h1  {
	font-size: 34px;
	margin-bottom: 0;
}


body > aside > ul {
	margin-left: 20px
}

footer p {
	font-size: 12px;
}




