@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,100italic,400italic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic);


body {
    font-family: Arial;
}

blockquote {
    font-style: italic;
    font-weight: 300;
    font-family: Lato;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 19px;
    text-indent: 0px;
}

h1 {
    margin-bottom: 24px;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
    line-height: 60px;
    font-family: Lato;
    margin-top: 0px;
}

h2 {
    line-height: 48px;
    margin-bottom: 12px;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    font-family: Lato;
    margin-top: 24px;
}

h4 {
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    font-family: Lato;
    line-height: 24px;
    margin-bottom: 12px;
    margin-top: 24px;
}

p, ul, ol {
    line-height: 24px;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 400;
     font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
    margin-top: 12px;
    text-indent: 0px;
}

p.lead {
    line-height: 36px;
    font-size: 22px;
    font-family: Lato;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 12px;
    margin-top: 12px;
}

h1.big {
    font-size: 96px;
    line-height: 84px;
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;
}


nav.global ul, aside ul {
	list-style:none;
    font-style: normal;
    font-weight: 400;
    font-family: Lato;
    text-transform: uppercase;
    margin-bottom: 0px;
    line-height: 24px;
    letter-spacing: 1px;
    font-size: 14px;
}

aside ul a {
	text-decoration:none;
}


p.slogan {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-family: Lato;
    line-height: 24px;
    letter-spacing: 1px;
}

h1.logo {
    margin-bottom: 0px;
    font-size: 24px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 900;
    font-style: normal;
    font-family: Lato;
line-height:36px;
margin-top:-2px;
}

h3 {
    font-style: normal;
    font-weight: 300;
    font-family: Lato;
    font-size: 31px;
    line-height: 36px;
    margin-bottom: 12px;
    margin-top: 24px;
}