@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);


/*------------------------------------------------------------------------*/
/** Body and HTML  
/*------------------------------------------------------------------------*/

body {
	height: 100%;
	font-family: arial, tahoma, verdana, sans-serif;
}

/*------------------------------------------------------------------------*/
/**	links  
/*------------------------------------------------------------------------*/

a {color:#3db0ff}
a:visited {} 
a:hover {}
a:focus {outline: 0;}

/*------------------------------------------------------------------------*/
/**	typography  
/*------------------------------------------------------------------------*/

body {
	line-height:1.5em; /* 16x1.25=  21px - base line height,  7px grid size*/
}

p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,
table,address,blockquote,fieldset {
	font-weight:normal;
		line-height:1.5em;
}

br {line-height:7px !important; height:7px !important;}

p, ol, ul, blockquote {
	font-size: 0.875em; /* 16x0.75=14px main font size */
	margin-top:0.5em; /* 14x0.5=7px */
}


p.small {
	font-size:0.6875em; /* 16x0.6875=11px */
	line-height:1.2em; /* 12px */
	margin-top:0.636em;
	font-weight:normal !important;
}

p.smaller {
	font-size:0.75em; /* 16x0.75=12px */
	line-height:14px; /* 12px */
	margin-top:0.583em;
}

h1 {
	font-size:5em;
	line-height:1em;
	margin:10px 0; padding:0;
	font-weight:normal;
}

h2.bigger {
	font-size: 1.75em; /* 16x1.5em=28px */
	line-height: 1.25em; /* 28x1.25=35px */
	margin-top:0.5em; /* 28x0.5=14px */
	font-weight:bold;
	letter-spacing:-0.5px;
}


h2 {
	font-size:1.5625em; /* 16x1.5625=25px */
	line-height:1.12em; /* 25x1.12= 28px */
	margin-top:0.56em; /* 25x0.56=14px */
	font-weight:bold;
	letter-spacing:-1px;
}

h3 {
	font-size:1.3125em; /* 16x1.3125=21px */
	line-height:1em; /* 21x1= 21px */
	margin-top:0.6666em; /* 21x0.3333=7px */
	font-weight:bold;
	letter-spacing:-0.5px;
}

h4 {
	font-size: 0.875em; /* 16x0.75=14px main font size */
	margin-top:0.5em; /* 14x0.5=7px */
	margin-top:1em; /* 14px */
	font-weight:bold;
	letter-spacing:-0.5px;
}


h1, h2, h3, h4 {font-family: 'Amatic SC', cursive;}


/*------------------------------------------------------------------------*/
/**	Nav  
/*------------------------------------------------------------------------*/

header.global nav  {
	font-size:3em;
	font-weight:bold;
	font-family: 'Amatic SC', cursive; 
	}

header.global nav ul {list-style:none;}
	


