/*------------------------------------------------------------------------*/
/* font import
/*------------------------------------------------------------------------*/


@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('league-gothic/League_Gothic-webfont.eot');
    src: url('league-gothic/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('league-gothic/League_Gothic-webfont.woff') format('woff'),
         url('league-gothic/League_Gothic-webfont.ttf') format('truetype'),
         url('league-gothic/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*------------------------------------------------------------------------*/
/* global font settings
/*------------------------------------------------------------------------*/


body {
	font-family: Georgia,Times,'Times New Roman',serif;
	line-height:1.6em; /* 16x1.25=  21px - base line height,  7px grid size*/
}


/*------------------------------------------------------------------------*/
/**	headings 
/*------------------------------------------------------------------------*/

p.lead {font-size:24px; font-weight:100;}


h1, h2, h3, h4, h5, h6 {
	font-family: 'LeagueGothicRegular', sans-serif; 
	text-transform:uppercase;
	margin-top:20px;
	line-height:1.2em;
	}

h1.big {	font-size:60px; line-height:1; margin-top:0; }

h1 {
	font-size:43px; 
	}

h2 {
	font-size:32px;
	}

h3 {
	font-size:28px;
	}

h4 {
	font-size:24px;
	}

h5 {
	font-size:20px;
	}

h6 {
	font-size:18px;
	}	


/*------------------------------------------------------------------------*/
/**	main text
/*------------------------------------------------------------------------*/

p,dl,ol,ul,pre,table,address,blockquote,fieldset {font-size:16px; line-height:1.5em; margin-top:20px}
aside p { }
ul li ul, ul li ol, ol li ol { margin-left: 20px; margin-top: 0; }

/*------------------------------------------------------------------------*/
/**	inline inline text elements
/*------------------------------------------------------------------------*/


em, i {}
strong, b {}
small {}
code {}
ul, ol {margin-left:20px;}



/*------------------------------------------------------------------------*/
/**	Logo and Navigation
/*------------------------------------------------------------------------*/

/*------------------------------------------------------------------------*/
/**	Nav  
/*------------------------------------------------------------------------*/



nav.global ul {
	font-size:32px;
	text-transform:uppercase;
	font-family: 'LeagueGothicRegular', sans-serif; 
	}
nav.global ul {list-style:none;}


/*------------------------------------------------------------------------*/
/** logo
/*------------------------------------------------------------------------*/

header.global hgroup { }
header.global h1, header.global p { line-height:1em;}
header.global h1 {font-size:70px; margin:0; padding:0;}
header.global p { 
	font-size:18px; 
	font-family: 'LeagueGothicRegular', sans-serif; 
	margin:0; padding:0;
	text-transform:uppercase;
	letter-spacing:2px;
	font-style:italic;
}


/*------------------------------------------------------------------------*/
/** post styling
/*------------------------------------------------------------------------*/

section.post-content h1, aside section h3  {}
a.more-link {display:block; margin-top:10px;}


/*------------------------------------------------------------------------*/
/** footer 
/*------------------------------------------------------------------------*/
	footer p {margin-top:0;}








