@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);


body {
    font-family: Arial;
}

blockquote {
    font-style: italic;
    font-weight: 400;
    font-family: Georgia;
    line-height: 37px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 26px;
}

h1 {
    margin-bottom: 25px;
    font-weight: 400;
    font-style: normal;
    font-size: 58px;
    line-height: 1.2em;
    font-family: 'Abril Fatface';
}

h2 {
    line-height: 1em;
    margin-bottom: 20px;
    font-size: 2.625em;
    font-style: normal;
    font-weight: 400;
    font-family: 'Abril Fatface';
}

h4 {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Abril Fatface';
    line-height: 50px;
}

p, ul, ol {
    line-height: 23px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-family: Arial;
    font-size: 14px;
}

ul, ol {list-style:inside;}

p.lead {
    line-height: 1.5217391304347827em;
    font-size: 1.4375em;
    

    font-weight: 200;
    font-style: normal;
	margin-bottom:30px;
}

h1.big {
    font-size: 70px;
    line-height: 73px;
}

p.nav a:link {
    text-decoration: none;
}

nav.global ul {
    font-style: normal;
    font-weight: 400;
    font-family: Georgia;
    text-transform: uppercase;
    margin-bottom: 0px;
    line-height: 34px;
    letter-spacing: 1px;
    font-size: 14px;
}

div {
    font-style: normal;
    font-weight: 400;
    font-family: Georgia;
}

p.slogan {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    font-family: Georgia;
    line-height: 30px;
	margin-bottom:0;

}

h1.logo {
    margin-bottom: 0px;
    text-transform: none;
    font-size: 42px;
    letter-spacing: 0px;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-family: 'Abril Fatface';
    font-size: 26px;
    line-height: 53px;
    margin-bottom: 10px;
}

.nav p.slogan {
    margin-bottom: 0px;
}