@import url(http://fonts.googleapis.com/css?family=Dancing+Script:400,700);

body {
    font-family: Arial;
}

blockquote {
    font-style: italic;
    font-weight: 400;
    font-family: Georgia;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 18px;
}

h1 {
    margin-bottom: 25px;
    font-weight: 700;
    font-style: normal;
    font-size: 58px;
    line-height: 1.2em;
    font-family: 'Dancing Script';
}

h2 {
    line-height: 1em;
    margin-bottom: 24px;
    font-size: 2.625em;
    font-style: normal;
    font-weight: 400;
    font-family: 'Dancing Script';
}

h4 {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Dancing Script';
    line-height: 50px;
}

p {
    line-height: 30px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-family: Georgia;
    font-size: 14px;
}

p.lead {
    line-height: 1.7272727272727273em;
    font-size: 22px;
    font-family: Georgia;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 40px;
}

h1.big {
    font-size: 96px;
    line-height: 88px;
    font-weight: 400;
    font-style: normal;
}



div {
    font-style: normal;
    font-weight: 400;
    font-family: Georgia;
}

p.slogan {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    font-family: Georgia;
    line-height: 30px;
}

h1.logo {
    margin-bottom: 0px;
    text-transform: none;
    font-size: 42px;
}

h3 {
    font-style: normal;
    font-family: 'Dancing Script';
    font-size: 29px;
    line-height: 42px;
    margin-bottom: 10px;
}

.nav p.slogan {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-family: Arial;
}

nav ul {
    font-style: italic;
    font-weight: 400;
    font-family: Georgia;
    font-size: 20px;
    letter-spacing: 0px;
    text-transform: lowercase;
    line-height: 1.5555555555555556em;
}

.nav h1.logo {
    font-weight: 700;
    font-style: normal;
    font-size: 39px;
    line-height: 34px;
}