/* Author: mikeo.designer */
/* google fonts import */
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:700,400|Ubuntu:300,400,700,500,700italic);



body {
font-family: 'Ubuntu', sans-serif;  /*main body font face */
}


/* this part makes sure EM size is the typography baseline size to keep vertical rythm with various layouts padding  */
html {font-size:11px}   /* baseline size */
body {font-size:14px; line-height:2rem; font-weight:300;}  /* main font size */



h1, h2, h3, h4, h5, h6 {

  font-family: 'Cabin Sketch', cursive;
  font-style:normal; 
  font-weight:400;
  margin: 2rem 0 1rem 0;
  
  }

p, ul, form, figure, address, table {
  font-weight: 300; 
  margin: 1rem 0 1rem 0;
  text-indent: 0px;
}

ul, ol {margin-left:2.5em; list-style-position:outside;}
ul  ul, ol ol {margin:0 0 0 2.5em;}

label {display:block;}


h1 {
  margin:1rem 0 2rem 0;
  font-size: 3em; /* 3.75 x 14 = 50px */
  line-height: 4rem;
  font-weight:700;
}

h2 {
  line-height:4rem;
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
  line-height: 3rem;
}

h4 {
  font-size: 1.3em;
  line-height: 2rem;
}

h5 {
  font-size:1.1em;
}

h6 {
  font-size:1em;
}

blockquote:before {
  content: "“";
  display: block;
  font-size: 80px;
  left: 0px;
  position: absolute;
  top: 20px;
  opacity: 0.5;
}

blockquote cite:before {
  content: "— ";
}


blockquote {
  position:relative;
    font-style: italic;
    font-weight: 300;
    font-family: Lato;
    line-height: 2rem;
    font-size: 1.4em; /* 1.4 x 14 = 19px */ 
    text-indent: 0px;
    margin: 2rem 0;
    padding-left:40px;
}


blockquote cite {
  display:block;
  font-size:0.8em;
  margin-top:1rem;
}


/* main navigation and sidebar typography */

.header a {text-decoration:none;}

.nav > ul, .aside ul {
  list-style:none;
  font-style: normal;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;

}

.nav > ul {  font-weight: 700; font-size:0.9em;}


aside h2 {margin-top:0;}
aside ul {margin-left:0;}

.nav > ul li { 
  font-size: 1em;    
  letter-spacing: 1px;
  text-transform: uppercase;
}

.aside ul a {
  text-decoration:none;
}


/* custom clusses  */ 

p.big {
    font-size: 1.3em;
    line-height:3rem;
    font-weight: 200;
    margin:1rem 0;
    font-family: 'Open Sans', sans-serif;
}

h1.big {
    margin-top:2rem;
    font-size: 4em;
    line-height: 5rem;
    font-style: normal;
    text-transform:uppercase;
}

.logo h1  {
    margin-bottom: 0px;
    font-size: 2em;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 900;
    font-style: normal;
    line-height:3rem;
}
