/*------------------------------------------------------------------------*/
/*		color CSS 
/*		by Mikeo.designer 
/*------------------------------------------------------------------------*/


body {
	background:#E0E4CC;
	color:#555;
}

a {color:#F38630;}
a:visited {color:#F38630;} 
a:hover {}
a:focus {outline: 0;}


h1 {color:#444;}
h2 {color:#444;}
h3 {color:#444;}



legend { background:#ff7425; color:#fff;}
em {color:#e33100; font-weight:bold;}
input, textarea, select { color:#666; background:#fff; 	border:1px solid #c7c7c7;}
input { vertical-align:middle; }

input:focus,
input:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
	color: #777;
	background: #E4F7FA;
	border: 1px solid #00DFFF;
}




/* content colors */
section.global, section.global:before {background:#fff;}
.container {background:#fff;}


header.global a {color:#5BBBBE}
header.global h1 {color:#1B3738}



header.global, header.global:before, footer.global, footer.global:before {background:#69D2E7;}

/* navigation colors */
nav.global, nav.global:before {background:#4FA3A5;}
nav.global a {color:#fff;}


aside a,aside a:visited  {color:#2B120F;}