/*------------------------------------------------------------------------*/
/*		color CSS 
/*		by Mikeo.designer 
/*------------------------------------------------------------------------*/



/* 
	gray background : #F0F3F3
	text : #7D7D7D;
	lighter grey text: #A5A5A5;



*/

body {
	background:rgb(230, 243, 238);
	color:rgb(148, 148, 148);
}

a {color:rgb(182, 60, 61);}
a:visited {} 
a:hover {}
a:focus {outline: 0;}

h2, h3, h4, h5, h6 {color:rgb(61, 61, 61);}
h1 {color:rgb(61, 61, 61);}
h1.big {}

p big {color:rgb(63, 63, 63);}


/*------------------------------------------------------------------------*/
/**	Nav  
/*------------------------------------------------------------------------*/

.header {background:rgb(255, 255, 255);}
.nav ul a{color:rgb(165, 165, 165);}
.nav ul li.current_page_item a{color:rgb(182, 60, 61);}
.nav ul {}


/*------------------------------------------------------------------------*/
/** logo
/*------------------------------------------------------------------------*/

.header hgroup { }
.header h1, .header p {}
.header h1 {}
.header p {color:rgb(128, 128, 128)}