/*------------------------------------------------------------------------*/
/*		color CSS 
/*		by Mikeo.designer 
/*------------------------------------------------------------------------*/


body {
	background:#FAFAFA;
	color:#555;
}

a {color:#000;}
a:visited {} 
a:hover {}
a:focus {outline: 0;}




h1, h2, h3, h4, h5 {color:#0B0B0B;}

/*------------------------------------------------------------------------*/
/**	Nav  
/*------------------------------------------------------------------------*/

.nav ul a {color:#A5A5A5}
.nav ul {}


/*------------------------------------------------------------------------*/
/** logo
/*------------------------------------------------------------------------*/

.header hgroup { }
.header h1, .header p {}
.header h1 {}
.header p {color:#808080}