/*------------------------------------------------------------------------*/
/*		color CSS 
/*		by Mikeo.designer 
/*------------------------------------------------------------------------*/



/* 
	gray background : #F0F3F3
	text : #7D7D7D;
	lighter grey text: #A5A5A5;



*/

body {
	background:#EF4723;
	color:#222222;
}

a {color:#000;}
a:visited {} 
a:hover {}
a:focus {outline: 0;}

h2, h3, h4, h5, h6 {color:#222222;}
h1 {color:#222222;}
h1.big {}

/*------------------------------------------------------------------------*/
/**	Nav  
/*------------------------------------------------------------------------*/

.header {}
.nav ul a{color:#FCFFF4;}
.nav ul li.current_page_item a{color:#FCFFF4;}
.nav ul {}


/*------------------------------------------------------------------------*/
/** logo
/*------------------------------------------------------------------------*/

.header hgroup { }
.header h1, .header p {}
.header h1 {}
.header p {}