/*------------------------------------------------------------------------*/
/*		color CSS 
/*		by Mikeo.designer 
/*------------------------------------------------------------------------*/


body {
	background:#132124;                /* main background color */
	color:#929896;                     /* main text color */
}

a {color:#DFDA73;}					   /* main links color */
a:visited {} 
a:hover {}
a:focus {outline: 0;}


h1, h2, h3, h4, h5 {color:#5FB7A3;}


hr {background-color:#00998A; border-color:#113646;} /* hr line colors */



code {background:#778F5F; color:#000;}



fieldset {border-color:#113646;}

legend { background:#194A92; color:#fff;}
em {color:#e33100; font-weight:bold;}

input, textarea, select { color:#080808; background:#487780; border:1px solid #000;}
input { vertical-align:middle; }


input:focus,
input:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
	color: #777;
	background: #E4F7FA;
	border: 1px solid #00DFFF;
}

