/*------------------------------------------------------------------------*/
/*		color CSS 
/*		by Mikeo.designer 
/*------------------------------------------------------------------------*/


body {
	background:#66B6B6;
	color:#555;
}

a {color:#000;}
a:visited {} 
a:hover {}
a:focus {outline: 0;}


h1 {color:#444;}
h2 {color:#444;}
h3 {color:#444;}



legend { background:#ff7425; color:#fff;}
em {color:#e33100; font-weight:bold;}
input, textarea, select { color:#666; background:#fff; 	border:1px solid #c7c7c7;}
input { vertical-align:middle; }

input:focus,
input:hover,
textarea:focus,
textarea:hover,
select:focus,
select:hover {
	color: #777;
	background: #E4F7FA;
	border: 1px solid #00DFFF;
}

section.global{background:#fff;	box-shadow:0 0 20px rgba(0,0,0,0.2);
	border-radius:3px;
	}



header.global nav a {color:#fff;}