/*
/*   Conten: 
/*   1. Globals
/*   2. Default
/*   3. Phone 
/*   4. pv- phone vertical
/*   5. ph- phone horisontal
/*   6. t- tablet
/*   7. th- tablet horisontal
/*   8. b- big screen
/*





/* globals */

img.fit-in-grid { max-width:100% }


.centered-block { 
  float:none !important; 
  margin:0 auto !important; 
  clear:both !important; 
  display:block !important;
  padding:1px;

}


.w-readable {
  max-width:50em;
}



/* default state before media queries */ 


 .full,
 .half,
 .one-third,
 .two-thirds,
 .one-quarter,
 .three-quarters,
 .one-fifth,
 .two-fifth,
 .three-fifth,
 .four-fifth,
 .one-sixth,
 .five-sixth,
 .one-eighth,
 .three-eighth,
 .five-eighth,
 .seven-eighth
 {
   float:left;
   display:inline;
}


.full             { width: 100%; }
.half             { width: 50%; }
.one-third        { width: 33.333%; }
.two-thirds       { width: 66.666%; }
.one-quarter      { width: 25%; }
.three-quarters   { width: 75%; }
.one-fifth        { width: 20%; }
.two-fifth        { width: 40%; }
.three-fifth      { width: 60%; }
.four-fifth       { width: 80%; }
.one-sixth        { width: 16.666%; }
.five-sixth       { width: 83.333%; }
.one-eighth       { width: 12.5%; }
.three-eighth     { width: 37.5%; }
.five-eighth      { width: 62.5%; }
.seven-eighth     { width: 87.5%; }


.half:nth-child(2n+1), 
.one-third:nth-child(3n+1), 
.one-quarter:nth-child(4n+1),
.one-fifth:nth-child(5n+1),
.one-eighth:nth-child(7n+1)

 { clear:left; }


 

/* phone */

@media all and (min-width:0px) and (max-width: 640px) {
  
    [class*='p-'] {clear:none !important;}
  
  
  .p-full             { width: 100%; }
  .p-half             { width: 50%; }
  .p-one-third        { width: 33.333%; }
  .p-two-thirds       { width: 66.666%; }
  .p-one-quarter      { width: 25%; }
  .p-three-quarters   { width: 75%; }
  .p-one-fifth        { width: 20%; }
  .p-two-fifth        { width: 40%; }
  .p-three-fifth      { width: 60%; }
  .p-four-fifth       { width: 80%; }
  .p-one-sixth        { width: 16.666%; }
  .p-five-sixth       { width: 83.333%; }
  .p-one-eighth       { width: 12.5%; }
  .p-three-eighth     { width: 37.5%; }
  .p-five-eighth      { width: 62.5%; }
  .p-half:nth-child(2n+1), 
  .p-one-third:nth-child(3n+1), 
  .p-one-quarter:nth-child(4n+1),
  .p-one-fifth:nth-child(5n+1),
  .p-one-eighth:nth-child(7n+1)

   { clear:left !important; }
  
  
   
   .p-centered-block { 
     float:none !important; 
     margin:0 auto !important; 
     clear:both !important; 
     display:block !important;

   }
  
  

}  

/* phone vertical */

@media all and (min-width:0px) and (max-width: 480px) {
  
    [class*='p-'] {clear:none !important;}
  
  
  .pv-full             { width: 100%; }
  .pv-half             { width: 50%; }
  .pv-one-third        { width: 33.333%; }
  .pv-two-thirds       { width: 66.666%; }
  .pv-one-quarter      { width: 25%; }
  .pv-three-quarters   { width: 75%; }
  .pv-one-fifth        { width: 20%; }
  .pv-two-fifth        { width: 40%; }
  .pv-three-fifth      { width: 60%; }
  .pv-four-fifth       { width: 80%; }
  .pv-one-sixth        { width: 16.666%; }
  .pv-five-sixth       { width: 83.333%; }
  .pv-one-eighth       { width: 12.5%; }
  .pv-three-eighth     { width: 37.5%; }
  .pv-five-eighth      { width: 62.5%; }
  .pv-half:nth-child(2n+1), 
  .pv-one-third:nth-child(3n+1), 
  .pv-one-quarter:nth-child(4n+1),
  .pv-one-fifth:nth-child(5n+1),
  .pv-one-eighth:nth-child(7n+1)

   { clear:left !important; }
  
  
   
   .pv-centered-block { 
     float:none !important; 
     margin:0 auto !important; 
     clear:both !important; 
     display:block !important;

   }
  
  

}  




/* phone horisontal */

@media all and (min-width: 480px) and (max-width:640px) {
  
  [class*='ph-'] {clear:none !important;}
  
  
  .ph-full             { width: 100%; }
  .ph-half             { width: 50%; }
  .ph-one-third        { width: 33.333%; }
  .ph-two-thirds       { width: 66.666%; }
  .ph-one-quarter      { width: 25%; }
  .ph-three-quarters   { width: 75%; }
  .ph-one-fifth        { width: 20%; }
  .ph-two-fifth        { width: 40%; }
  .ph-three-fifth      { width: 60%; }
  .ph-four-fifth       { width: 80%; }
  .ph-one-sixth        { width: 16.666%; }
  .ph-five-sixth       { width: 83.333%; }
  .ph-one-eighth       { width: 12.5%; }
  .ph-three-eighth     { width: 37.5%; }
  .ph-five-eighth      { width: 62.5%; }
  
  .ph-half:nth-child(2n+1), 
  .ph-one-third:nth-child(3n+1), 
  .ph-one-quarter:nth-child(4n+1),
  .ph-one-fifth:nth-child(5n+1),
  .ph-one-eighth:nth-child(7n+1)

   {
     clear:left !important; }
  
  .ph-centered-block { 
    float:none !important; 
    margin:0 auto !important; 
    clear:both !important; 
    display:block !important;
  
  }
  
  
  

}  


/* tablet */

@media all and (min-width:640px) and (max-width: 768px) {

  [class*='t-']
  
   {clear:none !important;}
  
  
  .t-full             { width: 100%; }
  .t-half             { width: 50%; }
  .t-one-third        { width: 33.333%; }
  .t-two-thirds       { width: 66.666%; }
  .t-one-quarter      { width: 25%; }
  .t-three-quarters   { width: 75%; }
  .t-one-fifth        { width: 20%; }
  .t-two-fifth        { width: 40%; }
  .t-three-fifth      { width: 60%; }
  .t-four-fifth       { width: 80%; }
  .t-one-sixth        { width: 16.666%; }
  .t-five-sixth       { width: 83.333%; }
  .t-one-eighth       { width: 12.5%; }
  .t-three-eighth     { width: 37.5%; }
  .t-five-eighth      { width: 62.5%; }
  
  .t-half:nth-child(2n+1), 
  .t-one-third:nth-child(3n+1), 
  .t-one-quarter:nth-child(4n+1),
  .t-one-fifth:nth-child(5n+1),
  .t-one-eighth:nth-child(7n+1)

   { clear:left !important; }
   
   
   .t-centered-block { 
     float:none !important; 
     margin:0 auto !important; 
     clear:both !important; 
     display:block !important;

   }
   
   .col {

    }
  


}

/* tablet horisontal*/

@media all and (min-width:768px) and (max-width: 1024px) {

  [class*='th-']
  
   {clear:none !important;}
  
  
  .th-full             { width: 100%; }
  .th-half             { width: 50%; }
  .th-one-third        { width: 33.333%; }
  .th-two-thirds       { width: 66.666%; }
  .th-one-quarter      { width: 25%; }
  .th-three-quarters   { width: 75%; }
  .th-one-fifth        { width: 20%; }
  .th-two-fifth        { width: 40%; }
  .th-three-fifth      { width: 60%; }
  .th-four-fifth       { width: 80%; }
  .th-one-sixth        { width: 16.666%; }
  .th-five-sixth       { width: 83.333%; }
  .th-one-eighth       { width: 12.5%; }
  .th-three-eighth     { width: 37.5%; }
  .th-five-eighth      { width: 62.5%; }
  
  .th-half:nth-child(2n+1), 
  .th-one-third:nth-child(3n+1), 
  .th-one-quarter:nth-child(4n+1),
  .th-one-fifth:nth-child(5n+1),
  .th-one-eighth:nth-child(7n+1)

   { clear:left !important; }
   
   
   .th-centered-block { 
     float:none !important; 
     margin:0 auto !important; 
     clear:both !important; 
     display:block !important;

   }
   
   .col {

    }
  


}






/* big screen */

@media all and (min-width: 1800px) {
  
   [class*='b-'] {clear:none !important;}
  
  
  .b-full             { width: 100%; }
  .b-half             { width: 50%; }
  .b-one-third        { width: 33.333%; }
  .b-two-thirds       { width: 66.666%; }
  .b-one-quarter      { width: 25%; }
  .b-three-quarters   { width: 75%; }
  .b-one-fifth        { width: 20%; }
  .b-two-fifth        { width: 40%; }
  .b-three-fifth      { width: 60%; }
  .b-four-fifth       { width: 80%; }
  .b-one-sixth        { width: 16.666%; }
  .b-five-sixth       { width: 83.333%; }
  .b-one-eighth       { width: 12.5%; }
  .b-three-eighth     { width: 37.5%; }
  .b-five-eighth      { width: 62.5%; }
  .b-half:nth-child(2n+1), 
  .b-one-third:nth-child(3n+1), 
  .b-one-quarter:nth-child(4n+1),
  .b-one-fifth:nth-child(5n+1),
  .b-one-eighth:nth-child(7n+1)

   { clear:left !important; }
   
   .b-centered-block { 
     float:none !important; 
     margin:0 auto !important; 
     clear:both !important; 
     display:block !important;
  
   } 
   
   
  
}  




