 .global, .container, .content, nav.global {
		clear:both;
     float:none !important;
		position:static !important;
		width:100% !important;
		display:block !important;
}


 header.global hgroup, nav.global ul {float:none;}

 header.global {text-align:center;}

 nav.global ul li {float:none !important; display:block !important; }
 nav.global, header.global, header.global hgroup {
 	text-align:center !important;
 }