


/* drop down mobile menu */

.container, body {margin:0; padding:0; position:relative; width:100%;}

a#nav_link, a#close_nav_link {
	position:absolute; 
	top:2rem; 
	right:2rem; 
	color:white;
	display:block;
	padding:0;
	margin:0;
	z-index:1000;
  border-bottom: 17px double black; 
  border-top: 6px solid black; 
  content:"";
  height: 5px; 
  width:30px;
	}

a#close_nav_link {visibility:hidden; border-color:white;}

#nav { 
	float:none; 
	width:100%; 
	clear:both; 
	display:block;
	border-top:6rem solid transparent;
	background-clip: padding-box;
}

#nav ul { 
	display:block;
	padding-top:0;
	padding-bottom:0;
   -moz-transition: padding 0.2s;
    -ms-transition: padding 0.2s;
     -o-transition: padding 0.2s;
-webkit-transition: padding 0.2s;
        transition: padding 0.2s;
}


#nav > ul > li  {
	height:0;
	line-height:3rem;
	overflow:hidden;
	float:none;
	display:block;
	padding:0;
	margin:0;
     -moz-transition: height 0.2s;
      -ms-transition: height 0.2s;
       -o-transition: height 0.2s;
  -webkit-transition: height 0.2s;
          transition: height 0.2s;
}

#nav:target  > ul > li  {
	height:3rem;
}


#nav:target {
	height:auto;
	margin-bottom:2rem;
	border-top:6rem solid transparent;
	background-clip: padding-box;
  }

#nav:target a#close_nav_link { visibility:visible;}
#nav:target  > ul {padding-top:1rem; padding-bottom:1rem;}


/* header styling changed to fit mobile nicely and work with all layouts */

header.global hgroup { position:absolute;  padding:2rem;}
header.global hgroup h1 { line-height:2rem; margin:0; padding:0; }
header.global {min-height:6rem; width:100%; display:block; float:left; }


/* global padding  (white space) overwrite to match header */ 
.global > * {padding:2rem;}
#nav {padding:0;}



header.global, footer.global, section.global, aside.global, .container, .content, [class*='col-'] {
	clear:both;
	float:none !important;
	position:static !important;
	width:100% !important;
	display:block;
}

.alignleft, .alignright {margin:0 auto; float:none; clear:both; display:block;}


section.global {min-width:320px; max-width:1100px; width:100%; word-wrap:break-word;}

/*typography */


h1.big {font-size:3em; text-align:center;}
p.lead {text-align:center;}
