/* code == poetry */
/* global elemetns layout */
	.container						{ width: 90%; max-width:80em; float: left; position: relative; margin:2%}
		.header							{ width: 20%; float: left; } 
			.logo 		 				{ }
			.nav 							{ }
	 	 		.nav > ul 			{ margin-left:0;} 
	 			.nav > ul li		{ }
		.section    				{ width: 80%; float: right; }
	  .aside     					{ width: 20%; float: left; clear: left; }
		.aside > section		{ width: 100%; float: left; }
		.footer 						{ width: 20%; float: left; clear: left;}
		.footer > p 				{ }


/* global vertical and horisontal white space */
	
	.main > * {
		padding:3rem 8%;
		 box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		}
	
	.nav 	{padding:0; margin:0;}/* ensures layouts won't break because padding changes width */
	