/* Author: mikeo.designer */
/* code == poetry */
/* global elemetns layout */
.container              { width: 1100px;  margin:4em auto;  position:relative; display:block; overflow:auto; }
  .header               { width:25%; float:left; } 
    .nav                { width: 100%; float: right; display:inline; }
      .nav  > ul        { margin:0; padding:0; } 
        .nav > ul > li  { margin:0; }
        .nav            { width: 100%; float: right; }
        .nav            { float: left; clear:left; }
  .section              { width: 75%; float: right; }
  .aside                { width: 25%; float: left; clear:left;}
  .footer               { width: 25%;  float:left; clear:left; text-align:left;}
  .footer p             { margin: 0;}


/* global vertical and horisontal white space */
.logo, .nav, .section, .aside, .footer  {
  padding:2rem 40px;
   box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

article {margin-bottom:6rem;}


article.loop h2 {margin-top:0;}


