.container {
	margin:0 auto;
	width:1000px;
}




/* heder */
header.global {
	width:100%; 
	float:left; 
	position:relative;
	text-align:right;
	height:100%;
	display:table;
}

header.global hgroup {
	float:left;
}
/*nav */
nav.global {
	display:table-cell;
 	vertical-align:middle;
}
		

nav.global ul { 
	display:block;
	float:right;
	margin:0;
	padding-top:0;
	padding-bottom:0;
	clear:both; 
}

nav.global ul li{
  	list-style:none;
  	display:inline-block;
  	padding:0 20px;
	line-height:2em;
}

nav.global ul li:last-child {padding-right:0;}
nav.global ul li:first-child {padding-left:0;}

nav.global ul li a {
  	text-decoration:none;
}


/* footer */

footer.global {
	text-align:left; 
	clear:both;
}

nav.global {background:transparent;}


/* aside */ 

aside {float:right; width:30%;}
section.content {float:left; width:70%; clear:both;}

/*full width home page */
.home section.content {width:100%;}



/* global vertical and horisontal white space */
.global > * {padding:2em 40px;}
.global 	{padding:0; margin:0;}/* ensures layouts won't break because padding changes width */


section.post-content {} /*white space between posts */






