

/* white space */

.container { 
	margin:0 auto;
	position:relative; 
	width:1100px;
	display:block;
	margin-top:4em;
}

/* heder */
header.global {width:20%; float:right;}
header hgroup {}
header h1 {}


/*nav */
nav.global { float:left;  width:100%; display:inline; }
nav.global ul {margin:0; padding-top:1em; padding-bottom:1em;}
nav.global ul li{}

nav ul li a {
  text-decoration:none;
}

aside.global {float:right; width:20%; }

/* footer */

footer.global {text-align:left; float:left; width:20%; }

/* aside */ 


section.content {float:left; width:80%; }





section.post-content {} /*white space between posts */
	
/* clear break for container */	



/* global vertical and horisontal white space */
.global > * {padding:2em 40px;}
.global 	{padding:0; margin:0;}/* ensures layouts won't break because padding changes width */
